$mobile: 1400;

$font-size: 62.5%;
$letter-spacing: 0.1px;

$white: #ffffff;
$sky: #8EC2F2;
$lightblue: #2091F9;
$darkpurple: #313958;
$darkblue: #252B42;
$grey: #737373;
$lightgrey: #bdbdbd;

/* Product colour */
$blue: #2091F9;
$green: #2DC071;
$orange: #E77C40;
$black: #252B42;