.c-select {
  @include textParameters(500, 1.5rem, 5rem, 0, $darkblue, 'Roboto');
  outline: none;
  appearance: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 48px 0 20px;
  border: 1px solid #dcdcdc;
  height: 50px;
  max-width: 162px;
  width: 100%;
  background: url(../../../images/select-down.svg) no-repeat 93% 66%, url(../../../images/select-up.svg) no-repeat 93% 38%;

  &__main-mobile {
    display: none;
    color: $white;
    margin: 30px auto 0;
    max-width: 304px;
    background: url(../../../images/select-down_white.svg) no-repeat 93% 66%, url(../../../images/select-up_white.svg) no-repeat 93% 38%;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: $white;

    @include screen-max ($mobile) {
      display: block;
    }
  }

  &__sort {
    margin: 0 auto 0 18px;

    @include screen-max ($mobile) {
      margin: 0 0 0 auto;
    }
  }
}