.l-header {
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @include screen-max($mobile) {
      padding: 18px 24px 0;
    }

    &-fashion {
      padding-bottom: 26px;
    }
  }

  &__logo {
    margin-right: 42px;

    @include screen-max($mobile) {
      margin-right: 0;
    }
  }

  &__navigation {
    @include screen-max($mobile) {
      display: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;

    &-photo {
      background: url('../../images/user_photo.svg') no-repeat;
      background-position: center;
      @include userIconsBackground(0.4);
      width: 56px;
      height: 56px;

      &_dark {
        background-image: url(../../images/user_photo-dark.svg);
      }

      @include screen-max($mobile) {
        display: none;
      }
    }

    &-name {
      @include textParameters(600, 1.6rem, 2.8rem, 0.1, $white);
      text-transform: capitalize;
      margin-left: 12px;
      margin-right: 42px;

      &_dark {
        color: $darkblue;
      }

      @include screen-max($mobile) {
        display: none;
      }
    }

    &-favourite {
      @include screen-max($mobile) {
        display: none;
      }
    }

    &-cart {
      background: url(../../images/cart.svg) center no-repeat;
      @include userIconsBackground(0.4);
      width: 56px;
      height: 56px;
      margin-left: 38px;
      position: relative;

      &_dark {
        background-image: url(../../images/cart-dark.svg);
      }

      &:after {
        display: block;
        position: absolute;
        top: -2px;
        right: -4px;
        content: '1';
        min-width: 20px;
        min-height: 20px;
        background-color: $lightblue;
        border-radius: 50%;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
        color: $white;
      }
    }
  }

  &__mobile-menu {
    display: none;
    height: 16px;
    width: 26px;
    background: url(../../images/burger.svg) no-repeat center;
    background-size: contain;
    border: none;
    margin-left: 26px;

    @include screen-max($mobile) {
      display: block;
    }

    &_dark {
      @include screen-max($mobile) {
        background-image: url(../../images/burger-dark.svg);
      }
    }
  }
}
