$mobile: 1300;

$font-size: 62.5%;
$letter-spacing: 0.1px;

$white: #ffffff;
$sky: #8ec2f2;
$lightblue: #2091f9;
$darkpurple: #313958;
$darkblue: #252b42;
$grey: #737373;
$lightgrey: #bdbdbd;

/* Product colour */
$blue: #2091f9;
$green: #2dc071;
$orange: #e77c40;
$black: #252b42;
